/* .App {
  text-align: center;
  border:royalblue solid 8px;
} */
#about  {
  border: pink double 8px;
}
#shop  {
  border: blueviolet double 8px;
}

.App-main {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color: #153306;
  color: #f7f4ea;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-bottom: 0;
  padding-top: 3.5rem;
}

.App-link {
  text-decoration: none;
  color: #f7f4ea;
  padding:1rem 1rem 0.2rem 1rem;
  font-size: 16px;
  transition: all .3s;
}

.App-link:hover {
  color: #153306;
  background-color: #f7f4ea;
}

